<section class="package-list">
  <nav class="package-controls">
    <button (click)="sortPackages()">Сортировать</button>
    <button (click)="reloadWidget()">Перезагрузить</button>
  </nav>

  <div class="package-cards">
    <div *ngFor="let pkg of result">
      <div
        *ngIf="pkg"
        class="package-card"
        (mouseenter)="onHover(pkg.id)"
        (mouseleave)="onLeave()"
      >
        <h3
          class="package-title"
          [class.highlighted]="isDependentOnHovered(pkg.id)"
        >
          <span
            *ngIf="splitPackageName(pkg.id).firstPart"
            [ngStyle]="{ color: '#007bff' }"
          >
            {{ splitPackageName(pkg.id).firstPart }}/</span
          >
          <span>{{ splitPackageName(pkg.id).secondPart }}</span>
        </h3>

        <hr />

        <div class="package-body">
          <p class="package-body-item">
            {{ formatNumber(pkg.weeklyDownloads) }}
            <img
              class="package-item-icon"
              src="assets/icons/download.png"
              alt="Downloads"
            />
          </p>
          <p class="package-body-item">
            {{ pkg.dependencyCount }} dependencies
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
